h1{
  color: purple;

}
.capybara-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%
  ;

}
h2{
  font-weight: bold;
  text-align: center;
  color: green;
  border-size: 3px;
  border-radius: 3px;

}
a{
  align:center;
}
